.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

mat-spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
