@import '../../../assets/vars.scss';

:host {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .link-container {
    display: flex;
    width: 100%;
    justify-content: center;

    a {
      color: $primary;
      display: flex;
      gap: 4px;
      text-decoration: none;
    }
  }

  .cart-content {
    flex: 1;
    min-height: 0;
  }

  mat-list {
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 8px;
  }

  mat-list-item {
    border-radius: 8px;
    height: auto;
    background: transparent;
    box-shadow: 1px 1px 2px $black;
    padding: 0;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  .empty {
    text-align: center;
  }

  .summary {
    display: flex;
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    padding: 8px;

    h3 {
      margin: 0;
      margin-left: auto;
    }
  }

  button:not(:disabled) {
    &.checkout, &.clear {
      color: $white;
    }

    &.checkout {
      background-color: $success;
    }

    &.clear {
      background-color: $error;
    }
  }
}
