<div class="link-container">
  <a href="/products"><mat-icon>arrow_back</mat-icon>Continue shopping</a>
</div>
<div class="cart-content">
    <mat-list role="list">
    @for (item of cartItems$|async; track item.id) {
      <mat-list-item role="listitem"><app-product-card [product]="item" [listItem]="true" /></mat-list-item>
    } @empty {
      <div class="empty">Your cart is empty.</div>
    }
  </mat-list>
</div>
<div class="summary">
  <button mat-flat-button class="clear" [disabled]="isEmpty$|async" (click)="clearCart()">Clear cart</button>
  <h3>Total: {{sumTotal$|async}} $</h3>
  <button mat-flat-button class="checkout" [disabled]="isEmpty$|async" (click)="handleClick()">Checkout</button>
</div>
